.posts-list{
  padding: 20px;
}

.posts-list h2{
  margin-bottom: 16px;
  text-align: center;
}

.posts-grid{
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}

.post-card{
  background: #fff;
  padding: 12px;
  border-radius: 20px;
  transition: transform 02.s ease;
}

.post-card :hover{
  transform: translateY(-4px);
}

.post-card h3{
  font-size: 18px;
  margin-bottom: 8px;
}

.post-card p{
  font-size: 14px;
  color: #555;
}

.posts-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-card {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  width: 220px;   /* ширина карточки */
  text-align: center;
  background-color: #fafafa;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.movie-card img {
  width: 200px;      /* ширина картинки */
  height: 300px;     /* высота картинки */
  object-fit: cover; /* картинка заполнит область, без искажений */
  border-radius: 10px;
  margin-bottom: 10px;
}

.movie-card h3 {
  font-size: 18px;
  margin: 5px 0;
}

.movie-card p {
  font-size: 14px;
  margin: 2px 0;
}

.movie-card button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.movie-card button:hover {
  background-color: #0056b3;
}
